<!doctype html>
<html lang = "en">
<head>
<meta charset =" UTF-8 "/>
<meta name =" viewport "content =" width=device-width, initial-scale=1.0 "/>
<title> todo list </title>
<script src =" https://cdn.tailwindcss.com ">  </script>
<link rel = " stylesheet "href= "/css/styles.css" >
</head>
<body>
  <div class =" grid grid-cols-5 se-8">
  <div class =" col-start-2 col-span-1 ">
  <%- include("header.ejs")%>
  <form>
      <div class ="flex gap-3 py-2">
          <div class ="flex-auto">
                <input type= "text" placeholder ="Type your Todo" required class = " border border-white-400 text-white-800 rounded w-150 p-1 ">
          </div>
           <div class = "flex-auto">
              <input type ="date" class = " border border-white-400 text-white-800 rounded w-150 p-1 leading-4 ">
           </div>
            <div class = "flex-none">
              <button type="submit"class = "bg-blue-600 text-yellow px-4 py-2 rounded font-medium "> Insert Todo</button>

            </div>
          </div>
        </form>

        <%- include("todos.ejs")%>
        <%- include("footer.ejs")%>

      </div>
    </div>
  </body>
</html>



