<!doctype html>
<html lang = "en">
<head>
  <meta charset =" UTF-8 "/>
    <meta name =" viewport "content =" width=device-width, initial-scale=1.0 "/>
    <title> Todo </title>
    <script src =" https://cdn.tailwindcss.com ">  </script>
    <link rel = " stylesheet "href= "/css/styles.css" >

  </head>
 <body>
    <div class="grid grid-cols-4 mn-6">
      <div class =" col-start-4 col-span-2 ">

        <%- include("header.ejs")%>

        <form>
          <div class =" flex gap-3 py-1">
            <div class =" flex-auto ">

              <input type= "text"placeholder =" after "required class =" border border-yellow-500 text-yellow-600 rounded w-160 p-3"> </div>
            <div class =" flex-auto ">
              <input type="date "class=" border border-yellow-500 text-yellow-600 rounded w-160 p-3 leading-5 "></div>
            <div class=" flex-none " >
              <button type=" finish "class="bg-white-500 text-blue px-2 py-1 rounded font-medium "> sum </button></div>
          </div>
        </form>

        <%- include("todos.ejs")%>
        <%- include("footer.ejs")%></div>
    </div>
  </body>
</html>
